<%- include('partials/Header.ejs') %>
    <div class="wrapper bg-[#FFFFF0] h-full w-full">
        <div class="page1 h-[107vh] overflow-x-hidden w-full">
        <section class="w-full topmost bg-gradient-to-r from-purple-100 to-pink-100 h-1/2 flex p-5 px-6 gap-3">
            <div class="w-3/4 h-full bg-fuchsia-200 rounded-xl">
                <h1 class="text-white tracking-widest text-4xl m-6">The most <span class="text-yellow-500">Glamorous</span> <br><span class="ml-2 text-blue-600">Shirt</span></h1>
            </div>
            <div class="w-1/2 h-full bg-cyan-100 rounded-xl">
            </div>
        </section>
        <section h-full w-screen overflow-x-hidden>
            <div class="top flex items-center justify-between p-6">
                <div class="text-4xl">
                    <h1>Featured Products</h1>
                </div>
                <!-- <div class="flex gap-3">
                    <i class="ri-arrow-left-s-line text-2xl text-black border-2 rounded-xl border-solid p-2 border-bg-white"></i>
                    <i class="ri-arrow-right-s-line text-2xl text-black border-2 rounded-xl border-solid p-2 border-bg-white"></i>
                </div> -->
            </div>
         <div class="h-fit w-fit flex gap-6 p-6 overflow-x-hidden px-14">
                <div class="cards h-64 w-64 bg-rose-200 overflow-hidden rounded-xl flex shadow-lg  justify-end items-end">
                    <div class="title h-10 w-full bg-white text-center ">
                        <h2>Some text</h2>
                    </div>
                </div>
                <div class="cards h-64 w-64 bg-rose-200 overflow-hidden rounded-xl flex shadow-lg  justify-end items-end">
                    <div class="title h-10 w-full bg-white text-center ">
                        <h2>Some text</h2>
                    </div>
                </div>
                <div class="cards h-64 w-64 bg-rose-200 overflow-hidden rounded-xl flex shadow-lg  justify-end items-end">
                    <div class="title h-10 w-full bg-white text-center ">
                        <h2>Some text</h2>
                    </div>
                </div>
                <div class="cards h-64 w-64 bg-rose-200 overflow-hidden rounded-xl flex shadow-lg  justify-end items-end">
                    <div class="title h-10 w-full bg-white text-center ">
                        <h2>Some text</h2>
                    </div>
                </div>
                <div class="cards h-64 w-64 bg-rose-200 overflow-hidden rounded-xl flex shadow-lg  justify-end items-end">
                    <div class="title h-10 w-full bg-white text-center ">
                        <h2>Some text</h2>
                    </div>
                </div>
                

         </div>
        </section>
    </div>
    </div>
<%- include('partials/Footer.ejs') %>