@font-face {
    font-family: 'rock';
    src: url(../fonts/RockSalt-Regular.woff2);
}
@font-face {
    font-family: 'main';
    src: url(../fonts/oswald.woff2);
}

@font-face {
    font-family: 'bebas';
    src: url(../fonts/bebas.woff2);
}
@font-face {
    font-family: 'oswald';
    src: url(../fonts/oswald.woff2);
}
html,body{
    width: 100vw;
    overflow-x: hidden !important;
    
}
.custom-scrollbar {
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}
.topmost h1{
    font-family: 'rock';
}
.top h1{
    font-family: 'main';
    
}
.p-17{
    padding-left: 4.5rem !important;;
}
.page2 h1, .page3 button{
    font-family: 'main';
    letter-spacing: 1px;
    
}
.page3 h1{
    font-family: 'bebas';

}
.diva{
    font-family: 'main';
    animation: diva forwards infinite cubic-bezier(0.19, 1, 0.22, 1) 2s ;
}
@keyframes diva {

    0%{
        color: #0F52BA;
    }
    20%{
        color: #0F52BA;
    }
    40%{
        color: aqua;

    }
    60%{
color: #DE5D83;
    }
    80%{
        color: 9B111E;
    }
    100%{
        color: #DE5D83;
    }
}
.rock{
    font-family: rock !important;
}
.bebas{
    font-family: bebas !important;
}
.oswald{
    font-family: oswald !important;
}
.color-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Creates circles */
    border: 1px solid rgb(165, 160, 160);
    display: inline-block; 
    margin: 0 2px; 
  }
  